body{
    margin: 0;
}
::-webkit-scrollbar {
  width: 4px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 10px;
}